@page
@model techtshirt.Pages.Orders.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h3 class="heading-level-2">Order List</h3>
<table class="table table-sm table-striped">
    <thead>
        <tr>
            <th>
                Order ID
            </th>
            <th>
                Order Date Placed
            </th>
            <th>
                Order Date Shipped
            </th>
            <th>
                Bill To Party
            </th>
            <th>
                Total Pieces
            </th>
            <th>
                Amount
            </th>
            <th>
                Order Status
            </th>

            <th>
                Reference Code
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Order) {
        <tr>
            <td>
                <a asp-page="./Details" asp-route-id="@item.id">@Html.DisplayFor(modelItem => item.id)</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.date_placed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.date_shipped)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.first_name)  @Html.DisplayFor(modelItem => item.Customer.last_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.total_pieces)
            </td>
            <td>
                $@Html.DisplayFor(modelItem => item.total_sale_price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.reference_code)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>



@section Styles {
    <link href="@Url.Content("~/css/orderlist.css")" rel="stylesheet" type="text/css" />
}
