@page
@model techtshirt.Pages.Orders.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Order Status
            </th>
            <th>
                Total Sale Price
            </th>
            <th>
                Total Pieces
            </th>
            <th>
                Reference Code
            </th>
            <th>
                Order Date Placed
            </th>
            <th>
                Order Date Shipped
            </th>
             <th>
                Customer ID
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Order) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.total_sale_price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.total_pieces)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.reference_code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.date_placed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.date_shipped)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.customer_id)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
